---
// src/components/atoms/MapFrame.astro
import { siteData } from '../../data/siteData';

interface Props {
  className?: string;
}

const { className = '' } = Astro.props;
---

<div class:list={['overflow-hidden rounded-xl border-4 border-white/50 shadow-lg', className]}>
  <iframe
    title="Mapa de ubicación de Beauty Salon Template"
    src={siteData.info.mapEmbedSrc}
    width="100%"
    height="100%"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    class="h-full min-h-[300px] w-full"></iframe>
</div>
